<nav role="navigation" class="navbar navbar-default navbar-static-top">

      <div class="navbar-header">
          <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a href="http://JennaPewPew.github.io" class="navbar-brand">Jenna Piunno</a>
      </div>

      <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="http://JennaPewPew.github.io">Home</a></li>
                    <li><a href="http://JennaPewPew.github.io/otherProjects/finalProject/index.html">Final</a></li>
                    <li><a href="http://JennaPewPew.github.io/otherProjects/codeAcademy/index.html">Code Academy Badges</a></li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="otherProjects/twitterbootstrap/index.html">JS Questions<b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                          <li><a href="http://JennaPewPew.github.io/otherProjects/jsquestions/week3q1.html">Week 3 Q1 JS</a></li>
                          <li><a href="http://JennaPewPew.github.io/otherProjects/jsquestions/week3q2.html">Week 3 Q2 JS</a></li>
                          <li><a href="http://JennaPewPew.github.io/otherProjects/jsquestions/week3q3.html">Week 3 Q3 JS</a></li>
                          <li><a href="http://JennaPewPew.github.io/otherProjects/jsquestions/weel3q4.html">Week 3 Q4 JS</a></li>
                          <li><a href="http://JennaPewPew.github.io/otherProjects/jsquestions/week5.html">Week 5 JS</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="otherProjects/twitterbootstrap/index.html">Old Assignment Pages<b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="http://JennaPewPew.github.io/otherProjects/twitterbootstrap/carousel.html">Carousel</a></li>
                            <li><a href="http://JennaPewPew.github.io/otherProjects/twitterbootstrap/index.html">Week 3</a></li>
                            <li><a href="http://JennaPewPew.github.io/otherProjects/ticTacToe/index.html">Tic Tac Toe</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">takeAnOrder Pages<b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="http://JennaPewPew.github.io/otherProjects/takeAnOrder/takeAnOrderRegular.html">HTML Page</a></li>
                            <li><a href="http://JennaPewPew.github.io/otherProjects/takeAnOrder/takeAnOrderBootstrap.html">Bootstrap Page</a></li>
                            <li><a href="http://JennaPewPew.github.io/otherProjects/takeAnOrder/changes.html">Changes to Bootstrap Page</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Ajax Examples<b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="http://JennaPewPew.github.io/otherProjects/ajaxExamples/clients.html">Clients</a></li>
                            <li><a href="http://JennaPewPew.github.io/otherProjects/ajaxExamples/lab9.html">Lab 9</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
</nav>
