/* Carousel Stylings*/
.carousel {
  background: #white;
  margin-top: 20px;
}

.carousel .item img {
  margin: 0 auto;

  /* Align slide image horizontally center */
}

.bs-example {
  margin: 20px;
}

.stretch{
  width: 400px;
}
/*Carousel Styling End*/

/*Error Styling Begins*/
.hide-name{
  color:red;
  font-weight:bold;
}
.hide-email{
  color:red;
  font-weight:bold;
}
.hide-accomadations{
  color:red;
  font-weight:bold;
}
.hide-start-date{
  color:red;
  font-weight:bold;
}
.hide-end-date{
  color:red;
  font-weight:bold;
}
/*Error Stylying Ends*/

/*Index Styling*/
body{
font-family: "Arimo", sans-serif !important;
background-image: url(../images/new_year_background.png);

}
.header-title{
  font-family:"Parisienne",cursive;
  font-size: 100px;
  margin-bottom: 60px;
}
.jumbotron{
      position: relative;
      background: #000 url("../images/jumbotron-background.jpg") center center;
      width: 100%;
      height: 100%;
      background-size: cover;
      overflow: hidden;
      text-align:center;
}
.nav{
  font-size: 18px;
}
.nav-pills > li > a{
color:green !important;

}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:white !important;
    background-color:green;
    }
.nav-pills li a:hover{
  background-color: white;
}
col-md-6{
  padding-top:20px;
}
/*Home Page Styling*/
.comment1{
  margin-top: 25px;
}
.comment2{
  margin-top: 25px;
}
h2{
  font-family: "Parisienne",cursive;
  font-size: 40px;
}
.intro{
  font-size: 20px;
  margin-top: 10px;
}
.text-break{
  width:100%;
  height: auto;
}
/*Order Page Styling*/
#myTextArea{
  margin-bottom: 10px;
  margin-top:10px;
}
#receipt{
  background-color: white;
  margin-top:15px;
}
#log{
  text-align:center;
}
.green{
  background-color: green;
}
