<div class="row">
  <div class="col-md-6 col-xs-12">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="images/pacentro.jpg" alt="First Slide">
      </div>
      <div class="item">
        <img src="images/firenza.jpg" alt="Second Slide">
      </div>
      <div class="item">
        <img src="images/duomo.jpg" alt="Third Slide">
      </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
  </div>
  <div class=" col-md-6 col-xs-12">
    <h3>Welcome to Tour Italia</h3>
    <p>We are one of the worlds foremost websites for booking gorgeous rooms across Italy. All of our listings are handpicked for their stunning views, exceptional location and affordability. Our variety of locatations and accomadation styles means that
      there is an option for any kind of trip. Be it a business trip to Rome or a family vacation hiking some of Italy's most beautiful mountains we have a room for you.</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4 col-md-offset-1 comment1">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img src="images/client-1.jpg" class="media-object img-circle" alt="Sample Image" height="60" width="60">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Dylan Beauchamp <small><i>September 4, 2015</i></small></h4>
        <p>Great company, 10/10 would book with again. We had an issue with our room not being ready when we got there but they gave us a free tour of Rome to make up for it!</p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4 col-md-offset-1 comment2">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img src="images/client-two.jpg" class="media-object img-circle" alt="Sample Image" height="60" width="60">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Kay Moores <small><i>January 21, 2016</i></small></h4>
        <p>I can't say enough good things about this travel site. Amazingly affordable for families on vacation.</p>
      </div>
    </div>
  </div>

</div>
