<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Jenna Piunno's Github</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="row">
      <div class="col-md-4">
        <h3>Please Choose Your Options</h3>
        <label class="checkbox-inline">
          <div class="radio">
            <label>
              <input type="radio" name="color" id="optionsRadios1" value="Tan and White" checked> Tan and White
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="color" id="optionsRadios2" value="Grey and White"> Grey and White
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="color" id="optionsRadios3" value="Black and White"> Black and White
            </label>
          </div>
          <h4>Select any additional options</h4>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="extra" value="Add Trim">Add leather Trim $15.00
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="extra" value="Add Clasp">Add Metal Clasp $20.00
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="extra" value="Add one day shipping">One Day Delivery $12.75
            </label>
          </div>
          <select id="mySelect" class="form-control">
            <option>Select Quantity</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          <div id="mySelectMessage"></div>
      </div>

      <div class="col-md-4 addpad">
        <textarea id="myTextArea" class="form-control" rows="5" placeholder="Additional Requests"></textarea>
      </div>

      <div class="col-md-4 addpad">
        <form class="form-inline">
          <div class="form-group">
            <label for="exampleInputName2">Name</label>
            <input type="text" class="form-control" id="mySingleLineText" placeholder="Homer Simpson">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail2">Email&nbsp;</label>
            <input type="email" class="form-control" id="mySingleLineText2" placeholder="duff_rules@example.com">
          </div>
        </form>
      </div>


      <div class="col-md-4 addpad">
        <button id="myButton" type="button" class="btn btn-primary btn-lg btn btn-success btn-block">Add to Cart</button>
      </div>
      <div class="col-md-12" id="log"></div>
    </div>
  </div>

  <script src="js/final.js"></script>


</body>

</html>
